@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i");
@font-face {
  font-family: 'br-gr';
  src: url("/css/fonts/Brandon_reg.otf");
  font-weight: 400; }

@font-face {
  font-family: 'br-gr';
  src: url("/css/fonts/Brandon_med.otf");
  font-weight: 500; }

@font-face {
  font-family: 'br-gr';
  src: url("/css/fonts/Brandon_bld.otf");
  font-weight: 700; }

@font-face {
  font-family: 'br-gr';
  src: url("/css/fonts/Brandon_blk.otf");
  font-weight: 900; }

html, body, main {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  color: #333333;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  font-weight: 300;
  background-color: white; }

h1, h2, h3, h4 {
  font-family: "br-gr", sans-serif; }

header {
  min-height: 80px;
  z-index: 2;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #7537C5;
  color: white;
  font-family: "br-gr", sans-serif;
  font-weight: 500; }
  @media only screen and (min-width: 981px) {
    header {
      min-height: 110px; }
      header.scrolled {
        min-height: 80px; } }

main {
  position: relative;
  top: 80px; }
  @media only screen and (min-width: 981px) {
    main {
      top: 110px; } }

footer {
  position: relative;
  top: 80px;
  background-color: #333333;
  color: #828282; }
  @media only screen and (min-width: 981px) {
    footer {
      top: 110px; } }
  footer h1, footer h2, footer h3, footer h4 {
    color: white; }

.button {
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  background-color: #7537C5;
  color: white;
  text-transform: uppercase;
  text-align: center;
  padding: 12px 28px;
  display: inline-block;
  font-family: "br-gr", sans-serif;
  font-size: 0.65em;
  font-weight: bold;
  cursor: pointer; }
  @media only screen and (min-width: 981px) {
    .button {
      padding: 12px 28px;
      font-size: 0.7em; } }

input[type=text],
textarea {
  -webkit-appearance: none;
  outline: none;
  width: calc(100% - 10px);
  border: none;
  background-color: #F1F0F3;
  padding: 10px 5px;
  font-size: 1em;
  border-radius: 0; }
  @media only screen and (min-width: 768px) {
    input[type=text],
    textarea {
      font-size: 0.9em; } }

textarea {
  height: 8em; }

.icon-automotive:before {
  content: url("data:image/svg+xml,%3Csvg width='45px' height='16px' viewBox='0 0 45 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdesc%3E%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Artboard' fill='%237537C5'%3E%3Cpath d='M42.0610644,12 L40.8746313,12 L40.8746313,12 C40.8746313,9.794 39.0698454,8 36.8528242,8 C34.6347976,8 32.8310171,9.794 32.8310171,12 L32.8310171,12 L14.7198141,12 L14.7198141,12 C14.7198141,9.794 12.9160336,8 10.698007,8 C8.78161587,8 7.18093663,9.341 6.77875592,11.128 L2.01090357,11.128 L2.01090357,10.126 L2.01090357,9.126 L3.01635535,9.126 L3.01635535,5 L6.89538833,5 L9.61915721,3.838 C10.0675887,4.905 10.9966262,6.001 12.7219814,6.001 L27.8057691,6.001 L27.8057691,4.438 L30.5536688,6 L30.8201135,6 C37.6431093,6 41.4678479,7.747 42.7699079,8.479 L42.0610644,12 Z M36.8528242,14 C35.7438109,14 34.8419206,13.103 34.8419206,12 C34.8419206,10.896 35.7438109,10 36.8528242,10 C37.9618375,10 38.8637278,10.896 38.8637278,12 C38.8637278,13.103 37.9618375,14 36.8528242,14 L36.8528242,14 Z M10.698007,14 C9.58899365,14 8.68710341,13.103 8.68710341,12 C8.68710341,10.896 9.58899365,10 10.698007,10 C11.8070203,10 12.7089105,10.896 12.7089105,12 C12.7089105,13.103 11.8070203,14 10.698007,14 L10.698007,14 Z M13.9335508,2 L16.7427831,2 L16.7427831,4.001 L12.7219814,4.001 C12.0020779,4.001 11.6431316,3.502 11.4601394,3.054 L13.9335508,2 Z M25.7948655,3.295 L25.7948655,4.001 L18.7536867,4.001 L18.7536867,2 L23.5155063,2 L25.7948655,3.295 Z M45,7.583 L44.5002905,7.205 C44.3293637,7.075 40.2442131,4.059 31.0885691,4 L24.0494012,0 L13.5213156,0 L6.4831531,3 L1.00545178,3 L1.00545178,7.395 C0.405197069,7.741 0,8.388 0,9.126 L0.0160872285,9.126 C0.00502725892,9.224 0,9.328 0,9.439 L0,11.128 C0,12.231 0.901890249,13.128 2.01090357,13.128 L6.85919206,13.128 C7.35286889,14.782 8.87713379,16 10.698007,16 C12.1800429,16 13.4629994,15.189 14.1597775,14 L33.3900483,14 C34.0878318,15.189 35.3707883,16 36.8528242,16 C38.3338547,16 39.6168112,15.189 40.3145947,14 L43.7100054,14 L45,7.583 Z' id='Fill-1'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); }

.icon-food:before {
  content: url("data:image/svg+xml,%3Csvg width='24px' height='35px' viewBox='0 0 24 35' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdesc%3E%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Artboard-2' fill='%237537C5'%3E%3Cg id='food-icon'%3E%3Cpath d='M6.497,13.2719789 L6,13.5651758 L6,31.9564335 C6,32.5164498 5.551,32.9709557 5,32.9709557 C4.449,32.9709557 4,32.5164498 4,31.9564335 L4,13.5651758 L3.503,13.2719789 C2.869,12.8976202 2.406,12.3305023 2.173,11.6680194 L7.828,11.6680194 C7.594,12.3305023 7.132,12.8966057 6.497,13.2719789 L6.497,13.2719789 Z M8,9.63897504 L6,9.63897504 L6,-2.16840434e-19 L4,-2.16840434e-19 L4,9.63897504 L2,9.63897504 L2,-2.16840434e-19 L-1.00363999e-13,-2.16840434e-19 L-1.00363999e-13,9.63897504 L-1.00363999e-13,10.6534972 C-1.00363999e-13,12.2402099 0.754,13.7376446 2,14.6902809 L2,31.9564335 C2,33.6354677 3.346,35 5,35 C6.654,35 8,33.6354677 8,31.9564335 L8,14.6902809 C9.247,13.7376446 10,12.2402099 10,10.6534972 L10,9.63897504 L10,-2.16840434e-19 L8,-2.16840434e-19 L8,9.63897504 Z' id='fork'%3E%3C/path%3E%3Cpath d='M22,16.573234 L20.002,18.6012638 L20.002,31.9564335 C20.002,32.5154352 19.553,32.9709557 19.002,32.9709557 C18.451,32.9709557 18.002,32.5154352 18.002,31.9564335 L18,20.6252355 L18,2.13151106 C20.279,2.60224934 22,4.65259863 22,7.10165512 L22,16.573234 Z M17,-4.06575815e-20 L16,-4.06575815e-20 L16.002,31.9564335 C16.002,33.6344532 17.348,35 19.002,35 C20.656,35 22.002,33.6344532 22.002,31.9564335 L22.002,19.4412882 L24,17.4132584 L24,7.10165512 C24,3.18559958 20.86,-4.06575815e-20 17,-4.06575815e-20 L17,-4.06575815e-20 Z' id='knife'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); }

.icon-electronics:before {
  content: url("data:image/svg+xml,%3Csvg width='32px' height='32px' viewBox='0 0 32 32' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdesc%3E%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Artboard-3' fill='%237537C5'%3E%3Cpolygon id='Fill-1' points='15.415 22.4487 13.626 21.5537 15.899 17.0057 12.902 17.0097 16.624 9.5577 18.413 10.4507 16.139 15.0047 19.138 15.0007'%3E%3C/polygon%3E%3Cpath d='M7,25.002 L25,25.002 L25,7.002 L7,7.002 L7,25.002 Z M5,27.002 L27,27.002 L27,5.002 L5,5.002 L5,27.002 Z' id='Fill-2'%3E%3C/path%3E%3Cpolygon id='Fill-3' points='23 3.004 25 3.004 25 0 23 0'%3E%3C/polygon%3E%3Cpolygon id='Fill-4' points='18 3.004 20 3.004 20 0 18 0'%3E%3C/polygon%3E%3Cpolygon id='Fill-5' points='13 3.004 15 3.004 15 0 13 0'%3E%3C/polygon%3E%3Cpolygon id='Fill-6' points='8 3.004 10 3.004 10 0 8 0'%3E%3C/polygon%3E%3Cpolygon id='Fill-7' points='23 32.004 25 32.004 25 29 23 29'%3E%3C/polygon%3E%3Cpolygon id='Fill-8' points='18 32.004 20 32.004 20 29 18 29'%3E%3C/polygon%3E%3Cpolygon id='Fill-9' points='13 32.004 15 32.004 15 29 13 29'%3E%3C/polygon%3E%3Cpolygon id='Fill-10' points='8 32.004 10 32.004 10 29 8 29'%3E%3C/polygon%3E%3Cpolygon id='Fill-11' points='0 10.001 3.005 10.001 3.005 8 0 8'%3E%3C/polygon%3E%3Cpolygon id='Fill-12' points='0 15.001 3.005 15.001 3.005 13 0 13'%3E%3C/polygon%3E%3Cpolygon id='Fill-13' points='0 20.001 3.005 20.001 3.005 18 0 18'%3E%3C/polygon%3E%3Cpolygon id='Fill-14' points='0 25 3.005 25 3.005 23 0 23'%3E%3C/polygon%3E%3Cpolygon id='Fill-15' points='29 10.001 32.005 10.001 32.005 8 29 8'%3E%3C/polygon%3E%3Cpolygon id='Fill-16' points='29 15.001 32.005 15.001 32.005 13 29 13'%3E%3C/polygon%3E%3Cpolygon id='Fill-17' points='29 20.001 32.005 20.001 32.005 18 29 18'%3E%3C/polygon%3E%3Cpolygon id='Fill-18' points='29 25 32.005 25 32.005 23 29 23'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); }

.icon-consumer:before {
  content: url("data:image/svg+xml,%3Csvg width='28px' height='35px' viewBox='0 0 28 35' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdesc%3E%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Artboard-4' fill='%237537C5'%3E%3Cpath d='M2.16057358,33.0386663 L3.98324697,11.4639955 L7.41194009,11.4639955 L7.41194009,15.6916503 L9.39958827,15.6916503 L9.39958827,11.4639955 L19.3378292,11.4639955 L19.3378292,15.6916503 L21.3254774,15.6916503 L21.3254774,11.4639955 L24.016753,11.4639955 L25.8394264,33.0386663 L2.16057358,33.0386663 Z M9.39958827,6.86466797 C9.39958827,4.16096946 11.6287357,1.96133371 14.3687087,1.96133371 C17.1086818,1.96133371 19.3378292,4.16096946 19.3378292,6.86466797 L19.3378292,9.50266181 L9.39958827,9.50266181 L9.39958827,6.86466797 Z M25.8453894,9.50266181 L21.3254774,9.50266181 L21.3254774,6.86466797 C21.3254774,3.07929392 18.2048697,0 14.3687087,0 C10.5325477,0 7.41194009,3.07929392 7.41194009,6.86466797 L7.41194009,9.50266181 L2.15461063,9.50266181 L0,35 L28,35 L25.8453894,9.50266181 Z' id='Fill-1'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); }

.icon-medical:before {
  content: url("data:image/svg+xml,%3Csvg width='33px' height='28px' viewBox='0 0 33 28' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdesc%3E%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Artboard-5' fill='%237537C5'%3E%3Cpolygon id='Fill-1' points='9.4999 17.2535 7.4999 17.2535 7.4999 20.0015 4.7509 20.0015 4.7509 22.0015 7.4999 22.0015 7.4999 24.7495 9.4999 24.7495 9.4999 22.0015 12.2479 22.0015 12.2479 20.0015 9.4999 20.0015'%3E%3C/polygon%3E%3Cpath d='M1.25,0 L1.25,8.17851708 L2.501,8.17851708 L2.501,9.25471598 L0,11.7341356 L0,28 L17,28 L17,11.7341356 L14.498,9.25471598 L14.498,8.17851708 L15.749,8.17851708 L15.749,0 L1.25,0 Z M3.25,6.19656698 L13.749,6.19656698 L13.749,1.9819501 L3.25,1.9819501 L3.25,6.19656698 Z M2,12.5546629 L4.501,10.0752433 L4.501,8.17851708 L12.498,8.17851708 L12.498,10.0752433 L15,12.5546629 L15,13.623925 L2,13.623925 L2,12.5546629 Z M2,26.0190409 L15.001,26.0190409 L15.001,15.606866 L2,15.606866 L2,26.0190409 Z' id='Fill-2'%3E%3C/path%3E%3Cpath d='M21.9242,9.4201 C22.2082,9.1361 22.5852,8.9811 22.9862,8.9811 C23.3862,8.9811 23.7622,9.1361 24.0462,9.4201 L25.1072,10.4811 L22.9862,12.6031 L21.9242,11.5421 C21.6412,11.2581 21.4852,10.8811 21.4852,10.4811 C21.4852,10.0801 21.6412,9.7031 21.9242,9.4201 L21.9242,9.4201 Z M29.2732,15.2681 C29.2732,15.6691 29.1172,16.0451 28.8342,16.3291 C28.2662,16.8951 27.2792,16.8951 26.7122,16.3291 L24.4002,14.0171 L26.5212,11.8951 L28.8342,14.2071 C29.1172,14.4901 29.2732,14.8671 29.2732,15.2681 L29.2732,15.2681 Z M25.2982,17.7431 C25.9592,18.4041 26.8382,18.7681 27.7732,18.7681 C28.7082,18.7681 29.5872,18.4041 30.2472,17.7431 C30.9092,17.0831 31.2732,16.2031 31.2732,15.2681 C31.2732,14.3331 30.9092,13.4541 30.2482,12.7931 L25.4602,8.0051 C24.1382,6.6831 21.8342,6.6831 20.5102,8.0051 C19.1462,9.3701 19.1462,11.5911 20.5102,12.9561 L25.2982,17.7431 Z' id='Fill-3'%3E%3C/path%3E%3Cpath d='M30.5204398,25.561 C30.2317172,25.845 29.848448,26.001 29.4407798,26.001 L26.1174196,26.001 L26.1184362,23 L29.4438297,23 C29.8504813,23 30.2327338,23.156 30.5204398,23.439 C30.8091624,23.723 30.9677565,24.099 30.9667399,24.5 C30.9677565,24.901 30.8091624,25.277 30.5204398,25.561 M21.033258,24.501 C21.033258,23.674 21.7174493,23.001 22.5582015,23.001 L24.0851782,23.001 L24.0841616,26.001 L22.5582015,26.001 C21.7174493,26 21.033258,25.328 21.033258,24.501 M31.9589698,22.025 C31.2859614,21.364 30.3933612,21 29.4417964,21 L22.5561682,21.001 C20.5971242,21.001 19.0010166,22.571 19,24.501 C19,26.43 20.5961075,27.999 22.5582015,28.001 L29.4407798,28.001 C30.3913279,28.001 31.2849448,27.637 31.9579532,26.976 C32.6309616,26.314 33.0010145,25.435 32.9999979,24.5 C33.0010145,23.566 32.6309616,22.686 31.9589698,22.025' id='Fill-5'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); }

div.loader {
  width: 100%;
  margin: auto;
  position: relative; }
  div.loader > div:first-child {
    border: 3px solid #DBDBDB;
    border-top-color: #652FAA;
    border-left-color: #652FAA;
    margin: 20% auto;
    text-align: center;
    width: 64px;
    height: 64px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-animation: turning_cw 2s infinite;
    -moz-animation: turning_cw 2s infinite;
    animation: turning_cw 2s infinite;
    position: relative;
    animation-timing-function: ease; }
  div.loader > div:last-child {
    position: absolute;
    margin: auto;
    display: block;
    text-align: center;
    left: 0;
    right: 0;
    top: 80px;
    color: #828282;
    text-transform: uppercase; }

@-webkit-keyframes turning_cw {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }

@-moz-keyframes turning_cw {
  0% {
    -moz-transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(360deg); } }

@keyframes turning_cw {
  0% {
    transform: rotate(-45deg); }
  100% {
    transform: rotate(315deg); } }

header .main-logo {
  width: 200px;
  display: inline-block;
  padding: 18px 0 12px 20px;
  cursor: pointer; }
  @media only screen and (min-width: 981px) {
    header .main-logo {
      padding: 24px 10px 18px 30px;
      width: 250px; } }
  header .main-logo > img {
    padding: 17px 0 12px 20px;
    width: calc( 100% - 20px); }
    @media only screen and (min-width: 981px) {
      header .main-logo > img {
        padding: 24px 10px 18px 30px;
        width: calc( 100% - 50px); } }
  header .main-logo > span:before {
    content: url("data:image/svg+xml,%3Csvg width='180px' height='44px' viewBox='0 0 260 63' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdesc%3E%3C/desc%3E%3Cdefs%3E%3Cpolygon id='path-1' points='0 62.8555 259.14 62.8555 259.14 0.0005 0 0.0005'%3E%3C/polygon%3E%3C/defs%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='logo'%3E%3Cg id='Group'%3E%3Cpath d='M78.8135,37.919 C81.2215,37.919 82.4095,35.416 82.4095,33.264 C82.4095,31.081 81.2215,28.544 78.8135,28.544 C76.3405,28.544 75.1855,30.857 75.1855,33.104 C75.1855,35.352 76.2765,37.919 78.8135,37.919 Z M70.5615,27.068 C70.5615,25.526 71.5245,24.499 72.8735,24.499 C74.1575,24.499 74.8965,25.205 75.1855,26.426 C76.0515,25.013 77.8495,24.307 79.5835,24.307 C84.5605,24.307 87.0325,28.962 87.0325,33.456 C87.0325,37.824 84.0785,42.158 79.4235,42.158 C77.9785,42.158 76.4055,41.612 75.1855,40.553 L75.1855,46.203 C75.1855,47.745 74.2215,48.773 72.8735,48.773 C71.5245,48.773 70.5615,47.745 70.5615,46.203 L70.5615,27.068 Z' id='Fill-1' fill='%23FFFFFF'%3E%3C/path%3E%3Cpath d='M99.9692,31.6905 C99.7122,29.6685 98.4282,28.1605 96.2772,28.1605 C94.2222,28.1605 92.8422,29.7335 92.6172,31.6905 L99.9692,31.6905 Z M92.7142,34.7745 C93.0342,37.0525 94.9282,38.1125 97.0802,38.1125 C99.4562,38.1125 101.0932,36.2505 102.3132,36.2505 C103.3082,36.2505 104.2082,37.2455 104.2082,38.2415 C104.2082,40.2325 100.0982,42.1585 96.6622,42.1585 C91.4612,42.1585 87.9932,38.3695 87.9932,33.2635 C87.9932,28.5765 91.3972,24.3065 96.2772,24.3065 C101.2862,24.3065 104.5932,28.8665 104.5932,32.7185 C104.5932,34.0985 103.9832,34.7745 102.5702,34.7745 L92.7142,34.7745 Z' id='Fill-3' fill='%23FFFFFF'%3E%3C/path%3E%3Cpath d='M117.2095,31.6905 C116.9525,29.6685 115.6675,28.1605 113.5165,28.1605 C111.4615,28.1605 110.0815,29.7335 109.8565,31.6905 L117.2095,31.6905 Z M109.9535,34.7745 C110.2745,37.0525 112.1675,38.1125 114.3195,38.1125 C116.6955,38.1125 118.3335,36.2505 119.5535,36.2505 C120.5485,36.2505 121.4475,37.2455 121.4475,38.2415 C121.4475,40.2325 117.3375,42.1585 113.9025,42.1585 C108.7015,42.1585 105.2325,38.3695 105.2325,33.2635 C105.2325,28.5765 108.6365,24.3065 113.5165,24.3065 C118.5255,24.3065 121.8325,28.8665 121.8325,32.7185 C121.8325,34.0985 121.2225,34.7745 119.8105,34.7745 L109.9535,34.7745 Z' id='Fill-5' fill='%23FFFFFF'%3E%3C/path%3E%3Cpath d='M123.4038,26.8106 C123.4038,25.2696 124.6248,24.4986 125.7798,24.4986 C126.9998,24.4986 128.0278,24.9486 128.0278,26.4256 L128.0918,26.4256 C128.9588,25.1406 129.8898,24.4986 131.3348,24.4986 C132.4588,24.4986 133.5818,25.3016 133.5818,26.9716 C133.5818,28.4806 132.2018,28.5766 130.8208,29.2196 C129.4408,29.8616 128.0278,30.4716 128.0278,32.3006 L128.0278,39.3966 C128.0278,40.9386 127.0638,41.9656 125.7158,41.9656 C124.3678,41.9656 123.4038,40.9386 123.4038,39.3966 L123.4038,26.8106 Z' id='Fill-7' fill='%23FFFFFF'%3E%3C/path%3E%3Cpath d='M134.0947,19.6182 C134.0947,18.0782 135.0577,17.0512 136.4067,17.0512 C137.7547,17.0512 138.7177,18.0782 138.7177,19.6182 L138.7177,39.3962 C138.7177,40.9382 137.7547,41.9662 136.4067,41.9662 C135.0577,41.9662 134.0947,40.9382 134.0947,39.3962 L134.0947,19.6182 Z' id='Fill-9' fill='%23FFFFFF'%3E%3C/path%3E%3Cpath d='M152.2656,31.6905 C152.0096,29.6685 150.7246,28.1605 148.5736,28.1605 C146.5186,28.1605 145.1386,29.7335 144.9136,31.6905 L152.2656,31.6905 Z M145.0096,34.7745 C145.3306,37.0525 147.2246,38.1125 149.3756,38.1125 C151.7526,38.1125 153.3906,36.2505 154.6096,36.2505 C155.6056,36.2505 156.5036,37.2455 156.5036,38.2415 C156.5036,40.2325 152.3946,42.1585 148.9586,42.1585 C143.7576,42.1585 140.2896,38.3695 140.2896,33.2635 C140.2896,28.5765 143.6936,24.3065 148.5736,24.3065 C153.5816,24.3065 156.8896,28.8665 156.8896,32.7185 C156.8896,34.0985 156.2796,34.7745 154.8666,34.7745 L145.0096,34.7745 Z' id='Fill-11' fill='%23FFFFFF'%3E%3C/path%3E%3Cpath d='M168.2539,29.7012 C167.3869,29.7012 165.6209,28.3512 164.1119,28.3512 C163.2769,28.3512 162.5389,28.7372 162.5389,29.6362 C162.5389,31.7872 170.5659,31.4662 170.5659,36.7322 C170.5659,39.8142 167.9649,42.1582 163.9829,42.1582 C161.3829,42.1582 157.5299,40.6802 157.5299,38.5952 C157.5299,37.8882 158.2359,36.5392 159.5209,36.5392 C161.3189,36.5392 162.1209,38.1122 164.3049,38.1122 C165.7179,38.1122 166.1349,37.6632 166.1349,36.7962 C166.1349,34.6782 158.1079,34.9982 158.1079,29.7012 C158.1079,26.4902 160.7089,24.3062 164.3689,24.3062 C166.6489,24.3062 170.1489,25.3662 170.1489,27.6452 C170.1489,28.7052 169.3459,29.7012 168.2539,29.7012' id='Fill-13' fill='%23FFFFFF'%3E%3C/path%3E%3Cpath d='M181.9302,29.7012 C181.0632,29.7012 179.2972,28.3512 177.7882,28.3512 C176.9532,28.3512 176.2152,28.7372 176.2152,29.6362 C176.2152,31.7872 184.2422,31.4662 184.2422,36.7322 C184.2422,39.8142 181.6412,42.1582 177.6592,42.1582 C175.0582,42.1582 171.2052,40.6802 171.2052,38.5952 C171.2052,37.8882 171.9122,36.5392 173.1962,36.5392 C174.9942,36.5392 175.7972,38.1122 177.9802,38.1122 C179.3932,38.1122 179.8102,37.6632 179.8102,36.7962 C179.8102,34.6782 171.7842,34.9982 171.7842,29.7012 C171.7842,26.4902 174.3852,24.3062 178.0452,24.3062 C180.3252,24.3062 183.8252,25.3662 183.8252,27.6452 C183.8252,28.7052 183.0222,29.7012 181.9302,29.7012' id='Fill-15' fill='%23FFFFFF'%3E%3C/path%3E%3Cpath d='M194.1294,37.919 C196.5374,37.919 197.7254,35.416 197.7254,33.264 C197.7254,31.081 196.5374,28.544 194.1294,28.544 C191.6564,28.544 190.5014,30.857 190.5014,33.104 C190.5014,35.352 191.5924,37.919 194.1294,37.919 Z M185.8784,27.068 C185.8784,25.526 186.8414,24.499 188.1894,24.499 C189.4734,24.499 190.2124,25.205 190.5014,26.426 C191.3684,25.013 193.1654,24.307 194.9004,24.307 C199.8764,24.307 202.3494,28.962 202.3494,33.456 C202.3494,37.824 199.3954,42.158 194.7394,42.158 C193.2944,42.158 191.7214,41.612 190.5014,40.553 L190.5014,46.203 C190.5014,47.745 189.5384,48.773 188.1894,48.773 C186.8414,48.773 185.8784,47.745 185.8784,46.203 L185.8784,27.068 Z' id='Fill-17' fill='%23FFFFFF'%3E%3C/path%3E%3Cpath d='M211.9146,37.919 C214.3226,37.919 215.4786,35.481 215.4786,33.264 C215.4786,31.049 214.3546,28.544 211.9146,28.544 C209.3776,28.544 208.2546,31.049 208.2546,33.264 C208.2546,35.481 209.4106,37.919 211.9146,37.919 Z M220.1016,38.947 C220.1016,40.135 220.1016,41.966 217.8856,41.966 C216.5386,41.966 215.9926,41.227 215.6706,40.007 C214.4826,41.42 213.0386,42.158 211.2726,42.158 C206.9376,42.158 203.6316,38.465 203.6316,33.264 C203.6316,28.191 207.0346,24.307 211.2726,24.307 C212.9746,24.307 214.6446,24.981 215.6706,26.426 C215.7996,25.302 216.7626,24.499 217.8856,24.499 C220.1016,24.499 220.1016,26.329 220.1016,27.518 L220.1016,38.947 Z' id='Fill-19' fill='%23FFFFFF'%3E%3C/path%3E%3Cpath d='M234.2275,29.4434 C233.0715,29.4434 232.0435,28.5444 230.5665,28.5444 C227.9345,28.5444 226.6815,30.8884 226.6815,33.2634 C226.6815,35.5444 228.0625,37.9194 230.5665,37.9194 C231.7225,37.9194 233.4565,36.9574 234.0025,36.9574 C235.0935,36.9574 235.9935,37.8874 235.9935,38.9784 C235.9935,41.3554 232.0115,42.1584 230.3415,42.1584 C225.3655,42.1584 222.0585,38.0814 222.0585,33.2634 C222.0585,28.5764 225.4615,24.3064 230.3415,24.3064 C232.1715,24.3064 235.9935,24.9804 235.9935,27.2284 C235.9935,28.1914 235.3195,29.4434 234.2275,29.4434' id='Fill-21' fill='%23FFFFFF'%3E%3C/path%3E%3Cpath d='M237.5967,19.6182 C237.5967,18.0782 238.5607,17.0512 239.9097,17.0512 C241.2577,17.0512 242.2197,18.0782 242.2197,19.6182 L242.2197,30.4062 L247.2937,25.4952 C248.0327,24.7892 248.7707,24.4992 249.3797,24.4992 C250.5357,24.4992 251.3387,25.5582 251.3387,26.5862 C251.3387,27.2612 251.1137,27.8062 250.4397,28.4152 L246.3297,32.0772 L251.7567,38.4332 C252.1737,38.9152 252.3347,39.4612 252.3347,39.9742 C252.3347,41.1942 251.3697,42.1582 250.1517,42.1582 C249.3157,42.1582 248.6737,41.6442 247.9357,40.7452 L242.2847,33.7782 L242.2197,33.7782 L242.2197,39.3962 C242.2197,40.9382 241.2577,41.9662 239.9097,41.9662 C238.5607,41.9662 237.5967,40.9382 237.5967,39.3962 L237.5967,19.6182 Z' id='Fill-23' fill='%23FFFFFF'%3E%3C/path%3E%3Cpath d='M256.6348,37.1494 C258.0158,37.1494 259.1398,38.2724 259.1398,39.6544 C259.1398,41.0344 258.0158,42.1584 256.6348,42.1584 C255.2538,42.1584 254.1308,41.0344 254.1308,39.6544 C254.1308,38.2724 255.2538,37.1494 256.6348,37.1494' id='Fill-25' fill='%23FFFFFF'%3E%3C/path%3E%3Cpath d='M56.0122,21.4278 C55.8112,21.4708 51.1112,22.5308 48.7792,26.8448 C47.0522,30.0398 47.1022,34.0648 48.9272,38.8078 C50.7182,43.4658 50.9592,46.9068 49.6262,48.7578 C48.5022,50.3208 46.4262,50.3998 46.0212,50.3998 L46.0182,50.3998 C46.0302,50.4418 46.0322,50.4898 46.0432,50.5318 C46.1522,50.9528 46.2342,51.3778 46.2802,51.8078 C46.2812,51.8188 46.2832,51.8288 46.2842,51.8398 C46.3382,52.3548 46.3492,52.8718 46.3282,53.3888 C47.5432,53.3308 50.2892,52.9248 52.0252,50.5598 C54.0442,47.8098 53.9432,43.4928 51.7262,37.7318 C50.2392,33.8618 50.1292,30.6918 51.3992,28.3078 C53.0492,25.2088 56.6022,24.3698 56.6382,24.3628 C57.4522,24.1868 57.9682,23.3868 57.7932,22.5778 C57.6232,21.7878 56.8072,21.2578 56.0122,21.4278' id='Fill-27' fill='%23FFFFFF'%3E%3C/path%3E%3Cpath d='M45.0977,50.8565 C45.0387,50.6195 44.9737,50.3875 44.8927,50.1665 C44.8057,49.9255 44.7107,49.6895 44.5937,49.4605 C44.4757,49.2285 44.3327,49.0135 44.1867,48.8005 C42.9707,47.0305 40.7727,45.9065 37.6427,45.4425 C37.3607,45.4005 37.0867,45.3545 36.7897,45.3235 L12.7017,45.3235 L12.7017,58.8545 C12.7017,59.0565 12.5777,59.2275 12.3987,59.3055 C12.3637,59.3215 12.3287,59.3395 12.2887,59.3465 C12.2817,59.3475 12.1537,59.3735 11.9567,59.4195 C11.4457,59.5395 10.4157,59.8215 9.4267,60.3325 C8.3607,60.8835 7.3537,61.6985 7.1237,62.8555 L17.0807,62.8555 L17.0807,53.3455 C17.0807,53.0695 17.3057,52.8455 17.5807,52.8455 C17.8567,52.8455 18.0807,53.0695 18.0807,53.3455 L18.0807,62.8555 L27.0817,62.8555 C26.9197,62.5025 26.6897,62.0575 26.3997,61.6395 C26.3937,61.6315 26.3957,61.6215 26.3907,61.6125 C25.6337,60.5165 24.3847,59.3545 22.4517,59.3545 C22.1747,59.3545 21.9517,59.1305 21.9517,58.8545 L21.9517,52.8485 C21.9517,52.5725 22.1747,52.3485 22.4517,52.3485 C22.7277,52.3485 22.9517,52.5725 22.9517,52.8485 L22.9517,58.3775 C24.8897,58.5495 26.2117,59.7125 27.0577,60.8545 L27.7317,60.8545 C27.4127,60.5375 27.1267,60.1475 26.9937,59.6665 C26.7757,58.8785 26.9927,58.0545 27.6387,57.2155 C28.8607,55.6305 32.3007,56.2525 34.6817,56.9295 C33.8887,56.0655 33.1197,54.9335 32.9807,53.7055 C32.8637,52.6605 33.2067,51.6985 34.0017,50.8465 C36.5967,48.0675 40.8007,50.8195 40.9777,50.9385 C41.2077,51.0915 41.2697,51.4015 41.1167,51.6315 C40.9637,51.8615 40.6527,51.9225 40.4237,51.7705 C40.3877,51.7475 36.7467,49.3715 34.7337,51.5285 C34.1387,52.1665 33.8897,52.8415 33.9747,53.5925 C34.2197,55.7665 37.1187,57.7535 37.1477,57.7735 C37.3587,57.9165 37.4287,58.1955 37.3097,58.4195 C37.1917,58.6465 36.9247,58.7475 36.6847,58.6535 C34.0447,57.6185 29.4697,56.4775 28.4297,57.8275 C27.9867,58.4025 27.8277,58.9315 27.9567,59.4005 C28.1807,60.2095 29.1817,60.7205 29.4717,60.8545 L43.0717,60.8545 C43.5357,59.9835 45.0327,56.9585 45.2967,53.8115 C45.3817,52.7885 45.3277,51.8425 45.1357,50.9915 C45.1247,50.9455 45.1087,50.9015 45.0977,50.8565' id='Fill-29' fill='%23FFFFFF'%3E%3C/path%3E%3Cmask id='mask-2' fill='white'%3E%3Cuse xlink:href='%23path-1'%3E%3C/use%3E%3C/mask%3E%3Cg id='Clip-32'%3E%3C/g%3E%3Cpolygon id='Fill-31' fill='%23FFFFFF' mask='url(%23mask-2)' points='7.569 44.3235 36.319 44.3235 36.319 40.7735 7.569 40.7735'%3E%3C/polygon%3E%3Cpolygon id='Fill-33' fill='%23FFFFFF' mask='url(%23mask-2)' points='21.9443 28.7666 22.2723 28.2736 21.6173 28.2736'%3E%3C/polygon%3E%3Cpath d='M21.8472,-7.10542736e-15 C9.8012,-7.10542736e-15 0.0002,9.801 0.0002,21.847 C0.0002,28.999 3.4972,35.681 9.3662,39.773 L11.7262,39.773 L11.9382,36.779 L11.1212,37.07 C11.0652,37.091 11.0102,37.1 10.9532,37.1 C10.7472,37.1 10.5552,36.972 10.4822,36.768 C10.3902,36.508 10.5252,36.222 10.7852,36.129 L12.0142,35.69 L12.2102,32.924 L8.6342,32.924 C8.3582,32.924 8.1342,32.7 8.1342,32.424 C8.1342,32.147 8.3582,31.924 8.6342,31.924 L12.2812,31.924 L12.4652,29.319 L10.7852,28.72 C10.5252,28.627 10.3892,28.341 10.4832,28.081 C10.5742,27.82 10.8592,27.682 11.1212,27.778 L12.5382,28.284 L14.1882,4.947 C14.2042,4.724 14.3662,4.538 14.5862,4.494 C14.8052,4.439 15.0272,4.553 15.1312,4.752 L19.2472,12.688 L24.6432,12.688 L28.7582,4.752 C28.8622,4.553 29.0852,4.443 29.3032,4.494 C29.5222,4.538 29.6852,4.724 29.7012,4.947 L31.3512,28.283 L32.7672,27.778 C33.0272,27.683 33.3132,27.82 33.4052,28.081 C33.4992,28.341 33.3632,28.627 33.1032,28.72 L31.4252,29.318 L31.6092,31.924 L35.2542,31.924 C35.5302,31.924 35.7542,32.147 35.7542,32.424 C35.7542,32.7 35.5302,32.924 35.2542,32.924 L31.6802,32.924 L31.8762,35.691 L33.1032,36.129 C33.3632,36.222 33.4982,36.508 33.4062,36.768 C33.3332,36.972 33.1412,37.1 32.9352,37.1 C32.8792,37.1 32.8232,37.091 32.7672,37.07 L31.9522,36.78 L32.1642,39.773 L34.3282,39.773 C40.1962,35.682 43.6932,29 43.6932,21.847 C43.6932,9.801 33.8932,-7.10542736e-15 21.8472,-7.10542736e-15' id='Fill-34' fill='%23FFFFFF' mask='url(%23mask-2)'%3E%3C/path%3E%3Cpath d='M23.5322,19.2696 C23.3372,19.0746 23.3372,18.7576 23.5322,18.5626 C23.7272,18.3676 24.0442,18.3676 24.2392,18.5626 C24.7552,19.0786 25.6532,19.0786 26.1692,18.5626 C26.3642,18.3676 26.6812,18.3676 26.8762,18.5626 C27.0712,18.7576 27.0712,19.0746 26.8762,19.2696 C26.4302,19.7156 25.8362,19.9626 25.2042,19.9626 C24.5722,19.9626 23.9782,19.7156 23.5322,19.2696 Z M24.5902,37.4076 C24.4122,37.6196 24.0972,37.6486 23.8852,37.4686 L21.9452,35.8416 L20.0052,37.4686 C19.9112,37.5476 19.7972,37.5856 19.6842,37.5856 C19.5412,37.5856 19.3992,37.5256 19.3022,37.4076 C19.1232,37.1956 19.1512,36.8806 19.3632,36.7036 L21.4442,34.9566 L21.4442,29.8206 L20.2682,28.0496 C20.1662,27.8966 20.1572,27.6996 20.2442,27.5376 C20.3312,27.3756 20.5002,27.2736 20.6842,27.2736 L23.2052,27.2736 C23.3892,27.2736 23.5592,27.3756 23.6462,27.5376 C23.7332,27.6996 23.7242,27.8966 23.6222,28.0506 L22.4442,29.8226 L22.4442,34.9566 L24.5282,36.7036 C24.7392,36.8796 24.7662,37.1956 24.5902,37.4076 Z M16.9592,19.2696 C16.7642,19.0746 16.7642,18.7576 16.9592,18.5626 C17.1542,18.3676 17.4712,18.3676 17.6662,18.5626 C18.1822,19.0786 19.0802,19.0786 19.5962,18.5626 C19.7912,18.3676 20.1082,18.3676 20.3032,18.5626 C20.4982,18.7576 20.4982,19.0746 20.3032,19.2696 C19.8572,19.7156 19.2632,19.9626 18.6312,19.9626 C17.9992,19.9626 17.4052,19.7156 16.9592,19.2696 Z M26.6722,34.8966 C26.4122,34.8036 26.2772,34.5176 26.3702,34.2576 C26.4612,33.9986 26.7462,33.8576 27.0082,33.9556 L30.8472,35.3246 L30.6772,32.9236 L28.8412,32.9236 C28.5652,32.9236 28.3412,32.7006 28.3412,32.4236 C28.3412,32.1476 28.5652,31.9236 28.8412,31.9236 L30.6062,31.9236 L30.4472,29.6676 L27.0082,30.8946 C26.9522,30.9156 26.8962,30.9236 26.8402,30.9236 C26.6342,30.9236 26.4422,30.7966 26.3692,30.5916 C26.2762,30.3326 26.4122,30.0456 26.6722,29.9536 L30.3742,28.6326 L28.8292,6.7886 L25.3902,13.4176 C25.3042,13.5826 25.1332,13.6876 24.9462,13.6876 L18.9432,13.6876 C18.7572,13.6876 18.5852,13.5826 18.4992,13.4176 L15.0602,6.7886 L13.5162,28.6326 L17.2162,29.9536 C17.4762,30.0456 17.6122,30.3326 17.5192,30.5916 C17.4462,30.7966 17.2542,30.9236 17.0482,30.9236 C16.9922,30.9236 16.9362,30.9156 16.8802,30.8946 L13.4432,29.6676 L13.2832,31.9236 L15.0472,31.9236 C15.3232,31.9236 15.5472,32.1476 15.5472,32.4236 C15.5472,32.7006 15.3232,32.9236 15.0472,32.9236 L13.2122,32.9236 L13.0432,35.3246 L16.8802,33.9556 C17.1402,33.8586 17.4272,33.9986 17.5182,34.2576 C17.6122,34.5176 17.4762,34.8036 17.2172,34.8966 L12.9662,36.4126 L12.7282,39.7736 L31.1612,39.7736 L30.9242,36.4136 L26.6722,34.8966 Z' id='Fill-35' fill='%23FFFFFF' mask='url(%23mask-2)'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    display: block; }
    @media only screen and (min-width: 981px) {
      header .main-logo > span:before {
        content: url("data:image/svg+xml,%3Csvg width='250px' height='61px' viewBox='0 0 260 63' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdesc%3E%3C/desc%3E%3Cdefs%3E%3Cpolygon id='path-1' points='0 62.8555 259.14 62.8555 259.14 0.0005 0 0.0005'%3E%3C/polygon%3E%3C/defs%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='logo'%3E%3Cg id='Group'%3E%3Cpath d='M78.8135,37.919 C81.2215,37.919 82.4095,35.416 82.4095,33.264 C82.4095,31.081 81.2215,28.544 78.8135,28.544 C76.3405,28.544 75.1855,30.857 75.1855,33.104 C75.1855,35.352 76.2765,37.919 78.8135,37.919 Z M70.5615,27.068 C70.5615,25.526 71.5245,24.499 72.8735,24.499 C74.1575,24.499 74.8965,25.205 75.1855,26.426 C76.0515,25.013 77.8495,24.307 79.5835,24.307 C84.5605,24.307 87.0325,28.962 87.0325,33.456 C87.0325,37.824 84.0785,42.158 79.4235,42.158 C77.9785,42.158 76.4055,41.612 75.1855,40.553 L75.1855,46.203 C75.1855,47.745 74.2215,48.773 72.8735,48.773 C71.5245,48.773 70.5615,47.745 70.5615,46.203 L70.5615,27.068 Z' id='Fill-1' fill='%23FFFFFF'%3E%3C/path%3E%3Cpath d='M99.9692,31.6905 C99.7122,29.6685 98.4282,28.1605 96.2772,28.1605 C94.2222,28.1605 92.8422,29.7335 92.6172,31.6905 L99.9692,31.6905 Z M92.7142,34.7745 C93.0342,37.0525 94.9282,38.1125 97.0802,38.1125 C99.4562,38.1125 101.0932,36.2505 102.3132,36.2505 C103.3082,36.2505 104.2082,37.2455 104.2082,38.2415 C104.2082,40.2325 100.0982,42.1585 96.6622,42.1585 C91.4612,42.1585 87.9932,38.3695 87.9932,33.2635 C87.9932,28.5765 91.3972,24.3065 96.2772,24.3065 C101.2862,24.3065 104.5932,28.8665 104.5932,32.7185 C104.5932,34.0985 103.9832,34.7745 102.5702,34.7745 L92.7142,34.7745 Z' id='Fill-3' fill='%23FFFFFF'%3E%3C/path%3E%3Cpath d='M117.2095,31.6905 C116.9525,29.6685 115.6675,28.1605 113.5165,28.1605 C111.4615,28.1605 110.0815,29.7335 109.8565,31.6905 L117.2095,31.6905 Z M109.9535,34.7745 C110.2745,37.0525 112.1675,38.1125 114.3195,38.1125 C116.6955,38.1125 118.3335,36.2505 119.5535,36.2505 C120.5485,36.2505 121.4475,37.2455 121.4475,38.2415 C121.4475,40.2325 117.3375,42.1585 113.9025,42.1585 C108.7015,42.1585 105.2325,38.3695 105.2325,33.2635 C105.2325,28.5765 108.6365,24.3065 113.5165,24.3065 C118.5255,24.3065 121.8325,28.8665 121.8325,32.7185 C121.8325,34.0985 121.2225,34.7745 119.8105,34.7745 L109.9535,34.7745 Z' id='Fill-5' fill='%23FFFFFF'%3E%3C/path%3E%3Cpath d='M123.4038,26.8106 C123.4038,25.2696 124.6248,24.4986 125.7798,24.4986 C126.9998,24.4986 128.0278,24.9486 128.0278,26.4256 L128.0918,26.4256 C128.9588,25.1406 129.8898,24.4986 131.3348,24.4986 C132.4588,24.4986 133.5818,25.3016 133.5818,26.9716 C133.5818,28.4806 132.2018,28.5766 130.8208,29.2196 C129.4408,29.8616 128.0278,30.4716 128.0278,32.3006 L128.0278,39.3966 C128.0278,40.9386 127.0638,41.9656 125.7158,41.9656 C124.3678,41.9656 123.4038,40.9386 123.4038,39.3966 L123.4038,26.8106 Z' id='Fill-7' fill='%23FFFFFF'%3E%3C/path%3E%3Cpath d='M134.0947,19.6182 C134.0947,18.0782 135.0577,17.0512 136.4067,17.0512 C137.7547,17.0512 138.7177,18.0782 138.7177,19.6182 L138.7177,39.3962 C138.7177,40.9382 137.7547,41.9662 136.4067,41.9662 C135.0577,41.9662 134.0947,40.9382 134.0947,39.3962 L134.0947,19.6182 Z' id='Fill-9' fill='%23FFFFFF'%3E%3C/path%3E%3Cpath d='M152.2656,31.6905 C152.0096,29.6685 150.7246,28.1605 148.5736,28.1605 C146.5186,28.1605 145.1386,29.7335 144.9136,31.6905 L152.2656,31.6905 Z M145.0096,34.7745 C145.3306,37.0525 147.2246,38.1125 149.3756,38.1125 C151.7526,38.1125 153.3906,36.2505 154.6096,36.2505 C155.6056,36.2505 156.5036,37.2455 156.5036,38.2415 C156.5036,40.2325 152.3946,42.1585 148.9586,42.1585 C143.7576,42.1585 140.2896,38.3695 140.2896,33.2635 C140.2896,28.5765 143.6936,24.3065 148.5736,24.3065 C153.5816,24.3065 156.8896,28.8665 156.8896,32.7185 C156.8896,34.0985 156.2796,34.7745 154.8666,34.7745 L145.0096,34.7745 Z' id='Fill-11' fill='%23FFFFFF'%3E%3C/path%3E%3Cpath d='M168.2539,29.7012 C167.3869,29.7012 165.6209,28.3512 164.1119,28.3512 C163.2769,28.3512 162.5389,28.7372 162.5389,29.6362 C162.5389,31.7872 170.5659,31.4662 170.5659,36.7322 C170.5659,39.8142 167.9649,42.1582 163.9829,42.1582 C161.3829,42.1582 157.5299,40.6802 157.5299,38.5952 C157.5299,37.8882 158.2359,36.5392 159.5209,36.5392 C161.3189,36.5392 162.1209,38.1122 164.3049,38.1122 C165.7179,38.1122 166.1349,37.6632 166.1349,36.7962 C166.1349,34.6782 158.1079,34.9982 158.1079,29.7012 C158.1079,26.4902 160.7089,24.3062 164.3689,24.3062 C166.6489,24.3062 170.1489,25.3662 170.1489,27.6452 C170.1489,28.7052 169.3459,29.7012 168.2539,29.7012' id='Fill-13' fill='%23FFFFFF'%3E%3C/path%3E%3Cpath d='M181.9302,29.7012 C181.0632,29.7012 179.2972,28.3512 177.7882,28.3512 C176.9532,28.3512 176.2152,28.7372 176.2152,29.6362 C176.2152,31.7872 184.2422,31.4662 184.2422,36.7322 C184.2422,39.8142 181.6412,42.1582 177.6592,42.1582 C175.0582,42.1582 171.2052,40.6802 171.2052,38.5952 C171.2052,37.8882 171.9122,36.5392 173.1962,36.5392 C174.9942,36.5392 175.7972,38.1122 177.9802,38.1122 C179.3932,38.1122 179.8102,37.6632 179.8102,36.7962 C179.8102,34.6782 171.7842,34.9982 171.7842,29.7012 C171.7842,26.4902 174.3852,24.3062 178.0452,24.3062 C180.3252,24.3062 183.8252,25.3662 183.8252,27.6452 C183.8252,28.7052 183.0222,29.7012 181.9302,29.7012' id='Fill-15' fill='%23FFFFFF'%3E%3C/path%3E%3Cpath d='M194.1294,37.919 C196.5374,37.919 197.7254,35.416 197.7254,33.264 C197.7254,31.081 196.5374,28.544 194.1294,28.544 C191.6564,28.544 190.5014,30.857 190.5014,33.104 C190.5014,35.352 191.5924,37.919 194.1294,37.919 Z M185.8784,27.068 C185.8784,25.526 186.8414,24.499 188.1894,24.499 C189.4734,24.499 190.2124,25.205 190.5014,26.426 C191.3684,25.013 193.1654,24.307 194.9004,24.307 C199.8764,24.307 202.3494,28.962 202.3494,33.456 C202.3494,37.824 199.3954,42.158 194.7394,42.158 C193.2944,42.158 191.7214,41.612 190.5014,40.553 L190.5014,46.203 C190.5014,47.745 189.5384,48.773 188.1894,48.773 C186.8414,48.773 185.8784,47.745 185.8784,46.203 L185.8784,27.068 Z' id='Fill-17' fill='%23FFFFFF'%3E%3C/path%3E%3Cpath d='M211.9146,37.919 C214.3226,37.919 215.4786,35.481 215.4786,33.264 C215.4786,31.049 214.3546,28.544 211.9146,28.544 C209.3776,28.544 208.2546,31.049 208.2546,33.264 C208.2546,35.481 209.4106,37.919 211.9146,37.919 Z M220.1016,38.947 C220.1016,40.135 220.1016,41.966 217.8856,41.966 C216.5386,41.966 215.9926,41.227 215.6706,40.007 C214.4826,41.42 213.0386,42.158 211.2726,42.158 C206.9376,42.158 203.6316,38.465 203.6316,33.264 C203.6316,28.191 207.0346,24.307 211.2726,24.307 C212.9746,24.307 214.6446,24.981 215.6706,26.426 C215.7996,25.302 216.7626,24.499 217.8856,24.499 C220.1016,24.499 220.1016,26.329 220.1016,27.518 L220.1016,38.947 Z' id='Fill-19' fill='%23FFFFFF'%3E%3C/path%3E%3Cpath d='M234.2275,29.4434 C233.0715,29.4434 232.0435,28.5444 230.5665,28.5444 C227.9345,28.5444 226.6815,30.8884 226.6815,33.2634 C226.6815,35.5444 228.0625,37.9194 230.5665,37.9194 C231.7225,37.9194 233.4565,36.9574 234.0025,36.9574 C235.0935,36.9574 235.9935,37.8874 235.9935,38.9784 C235.9935,41.3554 232.0115,42.1584 230.3415,42.1584 C225.3655,42.1584 222.0585,38.0814 222.0585,33.2634 C222.0585,28.5764 225.4615,24.3064 230.3415,24.3064 C232.1715,24.3064 235.9935,24.9804 235.9935,27.2284 C235.9935,28.1914 235.3195,29.4434 234.2275,29.4434' id='Fill-21' fill='%23FFFFFF'%3E%3C/path%3E%3Cpath d='M237.5967,19.6182 C237.5967,18.0782 238.5607,17.0512 239.9097,17.0512 C241.2577,17.0512 242.2197,18.0782 242.2197,19.6182 L242.2197,30.4062 L247.2937,25.4952 C248.0327,24.7892 248.7707,24.4992 249.3797,24.4992 C250.5357,24.4992 251.3387,25.5582 251.3387,26.5862 C251.3387,27.2612 251.1137,27.8062 250.4397,28.4152 L246.3297,32.0772 L251.7567,38.4332 C252.1737,38.9152 252.3347,39.4612 252.3347,39.9742 C252.3347,41.1942 251.3697,42.1582 250.1517,42.1582 C249.3157,42.1582 248.6737,41.6442 247.9357,40.7452 L242.2847,33.7782 L242.2197,33.7782 L242.2197,39.3962 C242.2197,40.9382 241.2577,41.9662 239.9097,41.9662 C238.5607,41.9662 237.5967,40.9382 237.5967,39.3962 L237.5967,19.6182 Z' id='Fill-23' fill='%23FFFFFF'%3E%3C/path%3E%3Cpath d='M256.6348,37.1494 C258.0158,37.1494 259.1398,38.2724 259.1398,39.6544 C259.1398,41.0344 258.0158,42.1584 256.6348,42.1584 C255.2538,42.1584 254.1308,41.0344 254.1308,39.6544 C254.1308,38.2724 255.2538,37.1494 256.6348,37.1494' id='Fill-25' fill='%23FFFFFF'%3E%3C/path%3E%3Cpath d='M56.0122,21.4278 C55.8112,21.4708 51.1112,22.5308 48.7792,26.8448 C47.0522,30.0398 47.1022,34.0648 48.9272,38.8078 C50.7182,43.4658 50.9592,46.9068 49.6262,48.7578 C48.5022,50.3208 46.4262,50.3998 46.0212,50.3998 L46.0182,50.3998 C46.0302,50.4418 46.0322,50.4898 46.0432,50.5318 C46.1522,50.9528 46.2342,51.3778 46.2802,51.8078 C46.2812,51.8188 46.2832,51.8288 46.2842,51.8398 C46.3382,52.3548 46.3492,52.8718 46.3282,53.3888 C47.5432,53.3308 50.2892,52.9248 52.0252,50.5598 C54.0442,47.8098 53.9432,43.4928 51.7262,37.7318 C50.2392,33.8618 50.1292,30.6918 51.3992,28.3078 C53.0492,25.2088 56.6022,24.3698 56.6382,24.3628 C57.4522,24.1868 57.9682,23.3868 57.7932,22.5778 C57.6232,21.7878 56.8072,21.2578 56.0122,21.4278' id='Fill-27' fill='%23FFFFFF'%3E%3C/path%3E%3Cpath d='M45.0977,50.8565 C45.0387,50.6195 44.9737,50.3875 44.8927,50.1665 C44.8057,49.9255 44.7107,49.6895 44.5937,49.4605 C44.4757,49.2285 44.3327,49.0135 44.1867,48.8005 C42.9707,47.0305 40.7727,45.9065 37.6427,45.4425 C37.3607,45.4005 37.0867,45.3545 36.7897,45.3235 L12.7017,45.3235 L12.7017,58.8545 C12.7017,59.0565 12.5777,59.2275 12.3987,59.3055 C12.3637,59.3215 12.3287,59.3395 12.2887,59.3465 C12.2817,59.3475 12.1537,59.3735 11.9567,59.4195 C11.4457,59.5395 10.4157,59.8215 9.4267,60.3325 C8.3607,60.8835 7.3537,61.6985 7.1237,62.8555 L17.0807,62.8555 L17.0807,53.3455 C17.0807,53.0695 17.3057,52.8455 17.5807,52.8455 C17.8567,52.8455 18.0807,53.0695 18.0807,53.3455 L18.0807,62.8555 L27.0817,62.8555 C26.9197,62.5025 26.6897,62.0575 26.3997,61.6395 C26.3937,61.6315 26.3957,61.6215 26.3907,61.6125 C25.6337,60.5165 24.3847,59.3545 22.4517,59.3545 C22.1747,59.3545 21.9517,59.1305 21.9517,58.8545 L21.9517,52.8485 C21.9517,52.5725 22.1747,52.3485 22.4517,52.3485 C22.7277,52.3485 22.9517,52.5725 22.9517,52.8485 L22.9517,58.3775 C24.8897,58.5495 26.2117,59.7125 27.0577,60.8545 L27.7317,60.8545 C27.4127,60.5375 27.1267,60.1475 26.9937,59.6665 C26.7757,58.8785 26.9927,58.0545 27.6387,57.2155 C28.8607,55.6305 32.3007,56.2525 34.6817,56.9295 C33.8887,56.0655 33.1197,54.9335 32.9807,53.7055 C32.8637,52.6605 33.2067,51.6985 34.0017,50.8465 C36.5967,48.0675 40.8007,50.8195 40.9777,50.9385 C41.2077,51.0915 41.2697,51.4015 41.1167,51.6315 C40.9637,51.8615 40.6527,51.9225 40.4237,51.7705 C40.3877,51.7475 36.7467,49.3715 34.7337,51.5285 C34.1387,52.1665 33.8897,52.8415 33.9747,53.5925 C34.2197,55.7665 37.1187,57.7535 37.1477,57.7735 C37.3587,57.9165 37.4287,58.1955 37.3097,58.4195 C37.1917,58.6465 36.9247,58.7475 36.6847,58.6535 C34.0447,57.6185 29.4697,56.4775 28.4297,57.8275 C27.9867,58.4025 27.8277,58.9315 27.9567,59.4005 C28.1807,60.2095 29.1817,60.7205 29.4717,60.8545 L43.0717,60.8545 C43.5357,59.9835 45.0327,56.9585 45.2967,53.8115 C45.3817,52.7885 45.3277,51.8425 45.1357,50.9915 C45.1247,50.9455 45.1087,50.9015 45.0977,50.8565' id='Fill-29' fill='%23FFFFFF'%3E%3C/path%3E%3Cmask id='mask-2' fill='white'%3E%3Cuse xlink:href='%23path-1'%3E%3C/use%3E%3C/mask%3E%3Cg id='Clip-32'%3E%3C/g%3E%3Cpolygon id='Fill-31' fill='%23FFFFFF' mask='url(%23mask-2)' points='7.569 44.3235 36.319 44.3235 36.319 40.7735 7.569 40.7735'%3E%3C/polygon%3E%3Cpolygon id='Fill-33' fill='%23FFFFFF' mask='url(%23mask-2)' points='21.9443 28.7666 22.2723 28.2736 21.6173 28.2736'%3E%3C/polygon%3E%3Cpath d='M21.8472,-7.10542736e-15 C9.8012,-7.10542736e-15 0.0002,9.801 0.0002,21.847 C0.0002,28.999 3.4972,35.681 9.3662,39.773 L11.7262,39.773 L11.9382,36.779 L11.1212,37.07 C11.0652,37.091 11.0102,37.1 10.9532,37.1 C10.7472,37.1 10.5552,36.972 10.4822,36.768 C10.3902,36.508 10.5252,36.222 10.7852,36.129 L12.0142,35.69 L12.2102,32.924 L8.6342,32.924 C8.3582,32.924 8.1342,32.7 8.1342,32.424 C8.1342,32.147 8.3582,31.924 8.6342,31.924 L12.2812,31.924 L12.4652,29.319 L10.7852,28.72 C10.5252,28.627 10.3892,28.341 10.4832,28.081 C10.5742,27.82 10.8592,27.682 11.1212,27.778 L12.5382,28.284 L14.1882,4.947 C14.2042,4.724 14.3662,4.538 14.5862,4.494 C14.8052,4.439 15.0272,4.553 15.1312,4.752 L19.2472,12.688 L24.6432,12.688 L28.7582,4.752 C28.8622,4.553 29.0852,4.443 29.3032,4.494 C29.5222,4.538 29.6852,4.724 29.7012,4.947 L31.3512,28.283 L32.7672,27.778 C33.0272,27.683 33.3132,27.82 33.4052,28.081 C33.4992,28.341 33.3632,28.627 33.1032,28.72 L31.4252,29.318 L31.6092,31.924 L35.2542,31.924 C35.5302,31.924 35.7542,32.147 35.7542,32.424 C35.7542,32.7 35.5302,32.924 35.2542,32.924 L31.6802,32.924 L31.8762,35.691 L33.1032,36.129 C33.3632,36.222 33.4982,36.508 33.4062,36.768 C33.3332,36.972 33.1412,37.1 32.9352,37.1 C32.8792,37.1 32.8232,37.091 32.7672,37.07 L31.9522,36.78 L32.1642,39.773 L34.3282,39.773 C40.1962,35.682 43.6932,29 43.6932,21.847 C43.6932,9.801 33.8932,-7.10542736e-15 21.8472,-7.10542736e-15' id='Fill-34' fill='%23FFFFFF' mask='url(%23mask-2)'%3E%3C/path%3E%3Cpath d='M23.5322,19.2696 C23.3372,19.0746 23.3372,18.7576 23.5322,18.5626 C23.7272,18.3676 24.0442,18.3676 24.2392,18.5626 C24.7552,19.0786 25.6532,19.0786 26.1692,18.5626 C26.3642,18.3676 26.6812,18.3676 26.8762,18.5626 C27.0712,18.7576 27.0712,19.0746 26.8762,19.2696 C26.4302,19.7156 25.8362,19.9626 25.2042,19.9626 C24.5722,19.9626 23.9782,19.7156 23.5322,19.2696 Z M24.5902,37.4076 C24.4122,37.6196 24.0972,37.6486 23.8852,37.4686 L21.9452,35.8416 L20.0052,37.4686 C19.9112,37.5476 19.7972,37.5856 19.6842,37.5856 C19.5412,37.5856 19.3992,37.5256 19.3022,37.4076 C19.1232,37.1956 19.1512,36.8806 19.3632,36.7036 L21.4442,34.9566 L21.4442,29.8206 L20.2682,28.0496 C20.1662,27.8966 20.1572,27.6996 20.2442,27.5376 C20.3312,27.3756 20.5002,27.2736 20.6842,27.2736 L23.2052,27.2736 C23.3892,27.2736 23.5592,27.3756 23.6462,27.5376 C23.7332,27.6996 23.7242,27.8966 23.6222,28.0506 L22.4442,29.8226 L22.4442,34.9566 L24.5282,36.7036 C24.7392,36.8796 24.7662,37.1956 24.5902,37.4076 Z M16.9592,19.2696 C16.7642,19.0746 16.7642,18.7576 16.9592,18.5626 C17.1542,18.3676 17.4712,18.3676 17.6662,18.5626 C18.1822,19.0786 19.0802,19.0786 19.5962,18.5626 C19.7912,18.3676 20.1082,18.3676 20.3032,18.5626 C20.4982,18.7576 20.4982,19.0746 20.3032,19.2696 C19.8572,19.7156 19.2632,19.9626 18.6312,19.9626 C17.9992,19.9626 17.4052,19.7156 16.9592,19.2696 Z M26.6722,34.8966 C26.4122,34.8036 26.2772,34.5176 26.3702,34.2576 C26.4612,33.9986 26.7462,33.8576 27.0082,33.9556 L30.8472,35.3246 L30.6772,32.9236 L28.8412,32.9236 C28.5652,32.9236 28.3412,32.7006 28.3412,32.4236 C28.3412,32.1476 28.5652,31.9236 28.8412,31.9236 L30.6062,31.9236 L30.4472,29.6676 L27.0082,30.8946 C26.9522,30.9156 26.8962,30.9236 26.8402,30.9236 C26.6342,30.9236 26.4422,30.7966 26.3692,30.5916 C26.2762,30.3326 26.4122,30.0456 26.6722,29.9536 L30.3742,28.6326 L28.8292,6.7886 L25.3902,13.4176 C25.3042,13.5826 25.1332,13.6876 24.9462,13.6876 L18.9432,13.6876 C18.7572,13.6876 18.5852,13.5826 18.4992,13.4176 L15.0602,6.7886 L13.5162,28.6326 L17.2162,29.9536 C17.4762,30.0456 17.6122,30.3326 17.5192,30.5916 C17.4462,30.7966 17.2542,30.9236 17.0482,30.9236 C16.9922,30.9236 16.9362,30.9156 16.8802,30.8946 L13.4432,29.6676 L13.2832,31.9236 L15.0472,31.9236 C15.3232,31.9236 15.5472,32.1476 15.5472,32.4236 C15.5472,32.7006 15.3232,32.9236 15.0472,32.9236 L13.2122,32.9236 L13.0432,35.3246 L16.8802,33.9556 C17.1402,33.8586 17.4272,33.9986 17.5182,34.2576 C17.6122,34.5176 17.4762,34.8036 17.2172,34.8966 L12.9662,36.4126 L12.7282,39.7736 L31.1612,39.7736 L30.9242,36.4136 L26.6722,34.8966 Z' id='Fill-35' fill='%23FFFFFF' mask='url(%23mask-2)'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); } }

header .mobile-menu > span {
  padding: 29px 20px;
  line-height: 80px;
  cursor: pointer; }

@media only screen and (min-width: 852px) {
  header .mobile-menu {
    display: none; } }

header .icon-menu:before {
  content: url("data:image/svg+xml,%3Csvg width='35px' height='22px' viewBox='0 0 35 22' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdesc%3E%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Artboard' fill='%23F3E9FF'%3E%3Crect id='rect1' x='0' y='0' width='35' height='2'%3E%3C/rect%3E%3Crect id='rect2' x='0' y='10' width='35' height='2'%3E%3C/rect%3E%3Crect id='rect3' x='0' y='20' width='35' height='2'%3E%3C/rect%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  position: relative;
  top: 5px; }

header .main-menu {
  width: calc( 100% - 220px);
  display: inline-block;
  text-align: right;
  vertical-align: top; }
  @media only screen and (min-width: 981px) {
    header .main-menu {
      width: calc( 100% - 300px); } }

header .menu-items {
  display: none;
  text-transform: uppercase;
  position: absolute;
  right: 0;
  width: 100%;
  max-width: 320px; }
  header .menu-items.open {
    display: block; }
  @media only screen and (min-width: 852px) {
    header .menu-items {
      display: inline-block;
      max-width: 100%;
      position: relative; } }
  header .menu-items > div {
    text-align: center;
    cursor: pointer;
    background-color: #7537C5;
    padding: 20px 15px;
    /*
			margin: 1px 0;
			&:first-child {
				padding-top: 30px;
			}
			&:last-child{
				padding-bottom: 30px;
			}
*/ }
    @media only screen and (min-width: 852px) {
      header .menu-items > div {
        display: inline-block;
        padding: 29px 20px 28px; } }
    @media only screen and (min-width: 981px) {
      header .menu-items > div {
        padding: 43px 20px; } }

.menu-content {
  font-family: "br-gr", sans-serif;
  text-transform: uppercase;
  color: white;
  width: 100%; }
  .menu-content > div {
    text-align: center;
    cursor: pointer;
    background-color: #7537C5;
    padding: 20px 15px; }

footer {
  padding: 20px 30px; }
  @media only screen and (min-width: 480px) {
    footer {
      padding: 30px 50px; } }
  footer .map {
    padding: 30px 0; }
    @media only screen and (min-width: 480px) {
      footer .map {
        width: 50%;
        display: inline-block;
        vertical-align: top; } }
    @media only screen and (min-width: 981px) {
      footer .map {
        width: 30%; } }
  footer .sitemap > div {
    width: 100%;
    padding-bottom: 20px; }
    @media only screen and (min-width: 480px) {
      footer .sitemap > div {
        width: 50%;
        display: inline-block;
        vertical-align: top; } }
    @media only screen and (min-width: 981px) {
      footer .sitemap > div {
        width: calc( 70% / 3); } }
    footer .sitemap > div > div {
      font-size: 0.8em;
      padding: 8px 0; }
      footer .sitemap > div > div.footer-title {
        color: white;
        font-weight: bold;
        font-size: 1.2em;
        padding: 30px 0 12px;
        font-family: "br-gr", sans-serif; }

#section-about {
  background-position: left center;
  background-size: cover;
  color: white;
  background-color: #333333;
  position: relative; }
  #section-about h2 {
    text-transform: uppercase;
    font-size: 1.7em;
    font-weight: 700; }
    @media only screen and (min-width: 480px) {
      #section-about h2 {
        font-size: 2em; } }
    @media only screen and (min-width: 981px) {
      #section-about h2 {
        font-size: 2.5em; } }
  #section-about:before {
    position: relative !important;
    display: block;
    content: "";
    width: 100%;
    padding-top: 130%; }
  #section-about > .content-box {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  @media only screen and (min-width: 400px) {
    #section-about {
      position: relative; }
      #section-about:before {
        position: relative !important;
        display: block;
        content: "";
        width: 100%;
        padding-top: 110%; }
      #section-about > .content-box {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; } }
  @media only screen and (min-width: 480px) {
    #section-about {
      position: relative; }
      #section-about:before {
        position: relative !important;
        display: block;
        content: "";
        width: 100%;
        padding-top: 90%; }
      #section-about > .content-box {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; } }
  @media only screen and (min-width: 530px) {
    #section-about {
      position: relative; }
      #section-about:before {
        position: relative !important;
        display: block;
        content: "";
        width: 100%;
        padding-top: 70%; }
      #section-about > .content-box {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; } }
  @media only screen and (min-width: 640px) {
    #section-about {
      position: relative; }
      #section-about:before {
        position: relative !important;
        display: block;
        content: "";
        width: 100%;
        padding-top: 50%; }
      #section-about > .content-box {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; } }
  @media only screen and (min-width: 768px) {
    #section-about {
      position: relative; }
      #section-about:before {
        position: relative !important;
        display: block;
        content: "";
        width: 100%;
        padding-top: 45.3125%; }
      #section-about > .content-box {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; } }
  @media only screen and (min-width: 1101px) {
    #section-about {
      position: relative; }
      #section-about:before {
        position: relative !important;
        display: block;
        content: "";
        width: 100%;
        padding-top: 34.1796875%; }
      #section-about > .content-box {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; } }
  #section-about .about-bg {
    position: absolute;
    bottom: 0; }
    @media only screen and (min-width: 768px) {
      #section-about .about-bg {
        height: 100%;
        right: 0;
        width: auto; } }
    #section-about .about-bg > img {
      display: block;
      width: 100%; }
      @media only screen and (min-width: 768px) {
        #section-about .about-bg > img {
          height: 100%;
          width: auto;
          margin-left: auto; } }
  #section-about .about-content {
    position: absolute;
    padding: 20px; }
    @media only screen and (min-width: 768px) {
      #section-about .about-content {
        padding: 40px;
        top: 50%;
        left: 0;
        transform: translate(0, -50%); } }
    @media only screen and (min-width: 768px) {
      #section-about .about-content > div {
        max-width: 42%; } }
    @media only screen and (min-width: 768px) {
      #section-about .about-content > div:first-child {
        max-width: 60%; } }
    #section-about .about-content > div:nth-child(2) {
      font-size: 0.9em; }
      @media only screen and (min-width: 981px) {
        #section-about .about-content > div:nth-child(2) {
          font-size: 1em; } }

#section-tile {
  background-color: white; }
  #section-tile h2 {
    margin: 0; }
    @media only screen and (min-width: 981px) {
      #section-tile h2 {
        margin: 5px 0; } }
  #section-tile p {
    margin: 0; }
  #section-tile .tile-item {
    width: 100%; }
    @media only screen and (min-width: 480px) {
      #section-tile .tile-item > div {
        width: 50%;
        display: inline-block;
        vertical-align: middle; }
        #section-tile .tile-item > div.tile-image-mobile {
          display: none; } }
  #section-tile .tile-image {
    display: none; }
    @media only screen and (min-width: 480px) {
      #section-tile .tile-image > img {
        width: 100%;
        display: block; } }
  #section-tile .tile-image-mobile > img {
    width: 100%;
    display: block; }
  @media only screen and (min-width: 480px) {
    #section-tile .tile-image-mobile {
      display: none; } }
  #section-tile .tile-left {
    width: 100%; }
    #section-tile .tile-left > div.tile-item:nth-child(even) > div.tile-image {
      transform: translate(-100%, 0); }
    @media only screen and (min-width: 480px) {
      #section-tile .tile-left > div.tile-item:nth-child(even) > div.tile-content {
        transform: translate(100%, 0); } }
    @media only screen and (min-width: 480px) {
      #section-tile .tile-left > div.tile-item.inv:nth-child(odd) > div.tile-image {
        transform: translate(-100%, 0); }
      #section-tile .tile-left > div.tile-item.inv:nth-child(odd) > div.tile-content {
        transform: translate(100%, 0); } }
    @media only screen and (min-width: 981px) {
      #section-tile .tile-left > div.tile-item.inv:nth-child(odd) > div.tile-image {
        transform: none; }
      #section-tile .tile-left > div.tile-item.inv:nth-child(odd) > div.tile-content {
        transform: none; } }
    @media only screen and (min-width: 981px) {
      #section-tile .tile-left {
        display: inline-block;
        vertical-align: top;
        width: calc( 100% / 3 * 2); }
        #section-tile .tile-left > div.tile-item.inv:nth-child(odd) > div.tile-image {
          float: none; } }
  @media only screen and (min-width: 981px) {
    #section-tile .tile-right {
      display: inline-block;
      vertical-align: top;
      width: calc( 100% / 3);
      height: 100%; }
      #section-tile .tile-right > div.tile-item > div {
        width: 100%; }
        #section-tile .tile-right > div.tile-item > div.tile-content {
          min-height: calc( 100% / 2);
          display: block; }
        #section-tile .tile-right > div.tile-item > div.tile-image {
          display: block; }
      #section-tile .tile-right > div.tile-item.single > div.tile-content {
        min-height: 100%; }
      #section-tile .tile-right > div.tile-item.single > div.tile-image {
        display: none; } }
  #section-tile .tile-content {
    padding: 56px 20px 20px; }
    @media only screen and (min-width: 480px) {
      #section-tile .tile-content {
        padding: 0; } }
    #section-tile .tile-content > div {
      display: block;
      position: relative; }
      @media only screen and (min-width: 480px) {
        #section-tile .tile-content > div {
          min-height: calc( 100% / 2); }
          #section-tile .tile-content > div > div.tile-box {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 260px; } }
      @media only screen and (min-width: 981px) {
        #section-tile .tile-content > div {
          position: relative; }
          #section-tile .tile-content > div:before {
            position: relative !important;
            display: block;
            content: "";
            width: 100%;
            padding-top: 100%; }
          #section-tile .tile-content > div > .content-box {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0; } }
  #section-tile .tile-intro {
    font-size: 0.87em;
    font-style: italic;
    margin: 5px 0 10px; }
    @media only screen and (min-width: 981px) {
      #section-tile .tile-intro {
        margin: 10px 0 20px; } }
  #section-tile .divider {
    line-height: 1px; }
    #section-tile .divider > span:before {
      content: url("data:image/svg+xml,%3Csvg width='75px' height='2px' viewBox='0 0 75 2' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdesc%3E%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='divider' fill='%237537C5'%3E%3Crect id='rectangle' x='0' y='0' width='75' height='2'%3E%3C/rect%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); }

#section-solutions {
  padding: 20px 0 0;
  background-color: #7537C5;
  color: white; }
  @media only screen and (min-width: 480px) {
    #section-solutions {
      padding: 30px 0 0 40px; } }
  #section-solutions h2 {
    text-transform: uppercase;
    font-size: 1.7em;
    font-weight: normal;
    text-align: center;
    margin-right: 20px; }
    @media only screen and (min-width: 480px) {
      #section-solutions h2 {
        font-size: 2em;
        margin-right: 40px; } }
    @media only screen and (min-width: 981px) {
      #section-solutions h2 {
        font-size: 2.5em; } }
  #section-solutions h3 {
    font-size: 1.5em; }
  #section-solutions .solutions-items {
    text-align: center; }
    @media only screen and (min-width: 480px) {
      #section-solutions .solutions-items {
        margin-right: 40px; } }
    #section-solutions .solutions-items > div {
      font-family: "br-gr", sans-serif;
      font-weight: 900;
      text-transform: uppercase;
      cursor: pointer;
      display: inline-block;
      padding: 5px 0;
      margin: 8px 20px; }
      #section-solutions .solutions-items > div.active {
        border-bottom: solid 2px white; }
      @media only screen and (min-width: 768px) {
        #section-solutions .solutions-items > div {
          width: auto;
          font-size: 1.1em;
          padding: 20px 0;
          margin: 0 40px; } }
  #section-solutions .solutions-details {
    text-align: center;
    padding: 20px 0 0 20px; }
    @media only screen and (min-width: 480px) {
      #section-solutions .solutions-details {
        padding: 20px 0 0 0; } }
    @media only screen and (min-width: 981px) {
      #section-solutions .solutions-details {
        padding: 50px 0 0 0; } }
    #section-solutions .solutions-details > div.details-text {
      padding-top: 15px;
      padding-bottom: 15px;
      margin-right: 20px; }
      @media only screen and (min-width: 480px) {
        #section-solutions .solutions-details > div.details-text {
          margin-right: 40px; } }
      @media only screen and (min-width: 768px) {
        #section-solutions .solutions-details > div.details-text {
          margin-right: 10px;
          width: calc( 40% - 10px);
          display: inline-block;
          vertical-align: top;
          padding-bottom: 50px; }
          #section-solutions .solutions-details > div.details-text > div {
            max-width: 350px;
            margin: auto;
            text-align: center; } }
      #section-solutions .solutions-details > div.details-text > div:nth-child(2) {
        font-size: 0.85em;
        font-style: italic; }
    #section-solutions .solutions-details > div.details-img {
      text-align: center;
      vertical-align: bottom;
      padding-top: 15px;
      overflow: hidden;
      display: grid; }
      @media only screen and (min-width: 768px) {
        #section-solutions .solutions-details > div.details-img {
          width: calc( 60% - 10px);
          padding-left: 10px;
          padding-top: 0;
          padding-bottom: 0;
          display: inline-grid; } }
      #section-solutions .solutions-details > div.details-img > img {
        width: 115%; }
        @media only screen and (min-width: 480px) {
          #section-solutions .solutions-details > div.details-img > img {
            max-width: 750px; } }
  #section-solutions .button {
    background-color: white;
    color: #7537C5; }

#section-design {
  padding: 20px;
  background-color: #F2F1F3; }
  @media only screen and (min-width: 480px) {
    #section-design {
      padding: 30px 40px; } }
  #section-design h2 {
    text-transform: uppercase;
    font-size: 1.7em;
    font-weight: normal;
    text-align: center; }
    @media only screen and (min-width: 480px) {
      #section-design h2 {
        font-size: 2em; } }
    @media only screen and (min-width: 981px) {
      #section-design h2 {
        font-size: 2.5em; } }
  #section-design .design-img {
    text-align: center; }
    @media only screen and (min-width: 768px) {
      #section-design .design-img {
        display: inline-block;
        width: 60%; } }
    #section-design .design-img > img {
      width: 100%;
      max-width: 571px; }
  #section-design .design-intro {
    text-align: center;
    font-size: 0.85em; }
    #section-design .design-intro > div:first-child {
      max-width: 350px;
      font-style: italic;
      margin: 40px auto 15px; }
    @media only screen and (min-width: 768px) {
      #section-design .design-intro {
        display: inline-block;
        width: calc( 40% - 20px);
        vertical-align: top;
        padding-top: 40px;
        margin-left: 20px; }
        #section-design .design-intro > div:first-child {
          margin: 15px auto; } }

#section-contact {
  padding: 20px;
  background-color: white;
  text-align: center; }
  @media only screen and (min-width: 480px) {
    #section-contact {
      padding: 30px 40px; } }
  #section-contact h2 {
    text-transform: uppercase;
    font-size: 1.7em;
    font-weight: normal; }
    @media only screen and (min-width: 480px) {
      #section-contact h2 {
        font-size: 2em; } }
    @media only screen and (min-width: 981px) {
      #section-contact h2 {
        font-size: 2.5em; } }
  #section-contact h3 {
    color: #7537C5;
    font-size: 1.7em;
    margin-top: 0.5em; }
    @media only screen and (min-width: 480px) {
      #section-contact h3 {
        font-size: 2em; } }
    @media only screen and (min-width: 981px) {
      #section-contact h3 {
        font-size: 2.2em; } }
  #section-contact p {
    font-size: 0.87em;
    color: #7537C5;
    font-style: italic; }
  #section-contact .button {
    background-color: #7537C5;
    color: white; }
  #section-contact div.contact-form {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 582px;
    text-align: left; }
    #section-contact div.contact-form > div {
      display: inline-block;
      width: 100%;
      padding: 5px 0; }
      @media only screen and (min-width: 480px) {
        #section-contact div.contact-form > div {
          padding: 10px 0 10px 16px;
          width: calc( 50% - 8px); } }
      #section-contact div.contact-form > div > div:first-child {
        font-family: "br-gr", sans-serif; }
        #section-contact div.contact-form > div > div:first-child > span {
          color: red; }
      #section-contact div.contact-form > div:nth-child(1), #section-contact div.contact-form > div:nth-child(3) {
        padding-left: 0; }
      #section-contact div.contact-form > div.full {
        width: 100%;
        padding-left: 0; }
      #section-contact div.contact-form > div.right {
        text-align: right; }

.ReactModal__Body--open {
  overflow: hidden; }

.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.65);
  padding-top: 0;
  text-align: left;
  transition: opacity 0.25s ease;
  visibility: visible;
  opacity: 1;
  z-index: 99999999999;
  overflow: hidden; }
  .modal-overlay.menu {
    border-top: 80px solid transparent;
    background-clip: padding-box;
    -webkit-background-clip: padding-box; }
    @media only screen and (min-width: 768px) {
      .modal-overlay.menu {
        display: none; } }

.modal {
  outline: none; }
  .modal .modal-hide, .modal .inner-hide {
    display: none; }
  .modal label img {
    border-radius: 150px;
    display: block;
    max-width: 300px; }
  .modal .modal-trigger {
    padding: 0.8em 1em; }
  .modal .modal-fade-screen {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.65);
    padding-top: 0;
    text-align: left;
    transition: opacity 0.25s ease;
    visibility: visible;
    opacity: 1;
    z-index: 99999999999; }
    @media only screen and (min-width: 981px) {
      .modal .modal-fade-screen {
        padding-top: 5em; } }
    .modal .modal-fade-screen .modal-bg {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      cursor: pointer; }
  .modal .modal-close {
    position: fixed;
    top: 0;
    right: 0;
    width: 55px;
    height: 42px;
    z-index: 2;
    cursor: pointer; }
    @media only screen and (min-width: 768px) {
      .modal .modal-close {
        top: 18px;
        right: 18px; } }
    .modal .modal-close::before {
      content: url("data:image/svg+xml,%3Csvg width='55px' height='42px' viewBox='0 0 55 42' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdesc%3E%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='icon-menu-inverted'%3E%3Crect id='Rectangle' fill='%23FFFFFF' x='0' y='0' width='55' height='42'%3E%3C/rect%3E%3Crect id='Rectangle' fill='%237537C5' x='10' y='10' width='35' height='2'%3E%3C/rect%3E%3Crect id='Rectangle' fill='%237537C5' x='10' y='20' width='35' height='2'%3E%3C/rect%3E%3Crect id='Rectangle' fill='%237537C5' x='10' y='30' width='35' height='2'%3E%3C/rect%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      display: block; }
  .modal .modal-container {
    border: 0;
    border-radius: 4px;
    bottom: auto;
    min-height: 10rem;
    left: 50%;
    padding: 2rem;
    position: fixed;
    right: auto;
    top: 50%;
    transform: translate(-50%, -50%);
    min-width: 20rem;
    width: 80%;
    max-width: 60rem; }
  .modal .modal-inner {
    background: #fff;
    margin: auto;
    margin-top: 0;
    max-height: 100vh;
    height: 100vh;
    overflow: auto;
    padding: 0;
    position: relative;
    transition: opacity 0.25s ease;
    width: 100%;
    color: #333333;
    -webkit-overflow-scrolling: touch;
    position: relative; }
    .modal .modal-inner.menu {
      height: auto; }
    @media only screen and (min-width: 480px) {
      .modal .modal-inner {
        height: auto; } }
    @media only screen and (min-width: 768px) {
      .modal .modal-inner {
        height: auto;
        width: 700px;
        transition: opacity 0.25s ease;
        top: 10vh;
        bottom: 10vh;
        padding-bottom: 0;
        max-height: 80vh; }
        .modal .modal-inner.small {
          width: 420px; }
          .modal .modal-inner.small > div.modal-title {
            width: 420px; }
        .modal .modal-inner.full {
          width: 100%; } }
    .modal .modal-inner .modal-submit {
      background-color: #333333;
      color: white;
      text-align: center;
      padding: 15px;
      text-transform: uppercase;
      font-size: 1.2em;
      cursor: pointer; }
      .modal .modal-inner .modal-submit.button {
        padding: 0; }
        .modal .modal-inner .modal-submit.button > div > button {
          background-color: transparent;
          border-style: none;
          width: 100%;
          padding: 15px;
          font-size: 1em;
          font-family: "Open Sans", sans-serif;
          color: white;
          text-transform: uppercase;
          -webkit-appearance: none;
          outline: none; }
    .modal .modal-inner > div.modal-title {
      position: fixed;
      width: 100vw;
      z-index: 2; }
      @media only screen and (min-width: 768px) {
        .modal .modal-inner > div.modal-title {
          width: 700px; } }
      .modal .modal-inner > div.modal-title > h2 {
        background-color: #7537C5;
        margin: 0;
        padding: 15px;
        color: white;
        font-size: 1.4em;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase; }
    .modal .modal-inner > div.modal-content {
      padding: 15px;
      position: relative;
      top: 40px; }
      @media only screen and (min-width: 480px) {
        .modal .modal-inner > div.modal-content {
          padding: 20px 40px; } }
  @media only screen and (min-width: 480px) {
    .modal {
      width: 100%;
      margin: auto; }
      .modal.small {
        width: 420px; }
        .modal.small .modal-inner {
          width: 420px;
          height: auto; }
          .modal.small .modal-inner .modal-title {
            width: 420px; }
      .modal.full {
        width: 100%; }
        .modal.full .modal-inner {
          width: 100%;
          height: 100vh; }
          .modal.full .modal-inner .modal-title {
            width: 100%; } }
  @media only screen and (min-width: 768px) {
    .modal {
      width: 700px;
      margin: auto; }
      .modal.small {
        width: 420px; }
        .modal.small .modal-inner {
          width: 420px; }
      .modal.full {
        width: 100%; }
        .modal.full .modal-inner {
          top: 0;
          bottom: 0;
          width: 100%;
          height: 100vh;
          max-height: 100vh; } }

.modal-open {
  overflow: hidden; }

.modal-inner .industry-image {
  width: 100%;
  height: 220px;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  overflow: hidden; }
  @media only screen and (min-width: 768px) {
    .modal-inner .industry-image {
      width: 50%;
      height: 100vh;
      position: fixed; } }
  .modal-inner .industry-image > div.slick-slider {
    height: 100%; }
    .modal-inner .industry-image > div.slick-slider > div.slick-list {
      height: 100%; }
      .modal-inner .industry-image > div.slick-slider > div.slick-list > div.slick-track {
        height: 100%; }
        .modal-inner .industry-image > div.slick-slider > div.slick-list > div.slick-track > div.slick-slide {
          height: 100%;
          background-size: cover;
          background-position: center; }

.modal-inner .industry-content {
  padding: 80px 20px 40px;
  text-align: center;
  font-size: 0.9em;
  font-style: italic; }
  @media only screen and (min-width: 768px) {
    .modal-inner .industry-content {
      padding: 120px 40px 80px;
      margin-left: 50%; } }
  .modal-inner .industry-content .industry-container {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    max-width: 420px; }
    .modal-inner .industry-content .industry-container h1 {
      font-family: "br-gr", sans-serif;
      font-style: normal;
      font-weight: normal;
      text-transform: uppercase;
      font-size: 2.2em;
      margin: 60px 0 30px; }
      @media only screen and (min-width: 768px) {
        .modal-inner .industry-content .industry-container h1 {
          font-size: 2.8em;
          margin: 100px 0 40px; } }
    .modal-inner .industry-content .industry-container h2 {
      font-family: "br-gr", sans-serif;
      font-style: normal;
      font-weight: normal;
      text-transform: uppercase;
      font-size: 1.8em;
      margin: 60px 0 30px; }
      @media only screen and (min-width: 768px) {
        .modal-inner .industry-content .industry-container h2 {
          font-size: 2em;
          margin: 100px 0 40px; } }
    .modal-inner .industry-content .industry-container code {
      font-weight: normal;
      font-style: normal; }
    .modal-inner .industry-content .industry-container em {
      color: #7537C5;
      font-weight: bold;
      vertical-align: super;
      font-size: 0.85em;
      padding-left: 3px; }
    .modal-inner .industry-content .industry-container p {
      margin: 40px 0; }
    .modal-inner .industry-content .industry-container strong {
      font-weight: normal; }
    .modal-inner .industry-content .industry-container ul {
      list-style: none;
      -webkit-padding-start: 0; }
      .modal-inner .industry-content .industry-container ul > li > div {
        display: inline-block;
        width: calc( 50% - 50px);
        vertical-align: middle;
        padding: 0 25px; }
        .modal-inner .industry-content .industry-container ul > li > div.industry-application-image {
          width: 50%;
          padding: 0; }
          .modal-inner .industry-content .industry-container ul > li > div.industry-application-image > img {
            width: 100%;
            max-width: 160px; }
      .modal-inner .industry-content .industry-container ul > li:nth-child(odd) > div:first-child {
        transform: translate(100%, 0); }
      .modal-inner .industry-content .industry-container ul > li:nth-child(odd) > div:nth-child(2) {
        transform: translate(-100%, 0); }
      .modal-inner .industry-content .industry-container ul.process > li {
        display: inline-block;
        padding: 5px 10px;
        font-family: "br-gr", sans-serif;
        color: #7537C5;
        text-transform: uppercase;
        font-weight: bold;
        font-style: normal; }
        .modal-inner .industry-content .industry-container ul.process > li:after {
          padding-left: 20px;
          content: "|"; }
          .modal-inner .industry-content .industry-container ul.process > li:after:last-child {
            content: none; }
        .modal-inner .industry-content .industry-container ul.process > li:last-child:after {
          content: none; }
  .modal-inner .industry-content .value-process {
    font-family: "br-gr", sans-serif;
    font-style: normal;
    font-weight: bold; }
    .modal-inner .industry-content .value-process > div {
      display: inline-block;
      position: relative;
      padding: 84px 30px 15px; }
      .modal-inner .industry-content .value-process > div:before {
        content: url("data:image/svg+xml,%3Csvg width='8px' height='12px' viewBox='0 0 8 12' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdesc%3E%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='next' fill='%23231F20'%3E%3Cpolygon id='path' points='1.59992985 -0.000530339859 0 1.50033146 4.80092103 5.99973483 0 10.5001989 1.59992985 12 8.00078073 5.99973483'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        position: absolute;
        top: 50px;
        transform: translate(-30px, 0); }
      .modal-inner .industry-content .value-process > div:first-child:before {
        content: none; }
      .modal-inner .industry-content .value-process > div span.icon-design:before {
        content: url("data:image/svg+xml,%3Csvg width='33px' height='33px' viewBox='0 0 33 33' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdesc%3E%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Overlay-industry-food' fill='%237537C5'%3E%3Cpath d='M29.6094,7.6455 L28.3814,8.8735 L24.5614,5.0535 L25.8234,3.7915 C26.8444,2.7705 28.6224,2.7705 29.6434,3.7915 C30.6964,4.8445 30.6964,6.5585 29.6094,7.6455 Z M9.2804,27.9735 L8.0784,26.7715 L25.7644,9.0835 L26.9674,10.2875 L9.2804,27.9735 Z M5.1314,29.6755 L3.7574,28.3025 L4.4954,26.0165 L7.4164,28.9385 L5.1314,29.6755 Z M4.9234,24.6915 L23.1474,6.4675 L24.3504,7.6695 L6.6644,25.3575 L5.4624,24.1555 L4.9224,24.6955 L4.9234,24.6915 Z M31.0584,2.3775 C30.1704,1.4895 28.9894,0.9995 27.7334,0.9995 C26.4774,0.9995 25.2974,1.4895 24.3754,2.4115 L3.1684,23.6185 L0.0004,33.4335 L9.8174,30.2655 L31.0584,9.0265 C32.8904,7.1925 32.8904,4.2095 31.0584,2.3775 Z' id='Fill-1'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        position: absolute;
        top: 30px;
        left: 0;
        right: 0; }
      .modal-inner .industry-content .value-process > div span.icon-mold:before {
        content: url("data:image/svg+xml,%3Csvg width='34px' height='38px' viewBox='0 0 34 38' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='tools' transform='translate(-33.000000, -31.000000)' fill='%237537C5'%3E%3Cpath d='M65,66.0254 L65,54.0254 L59.943,54.0254 C59.44,59.0714 55.169,63.0254 49.993,63.0254 L43.991,63.0254 L43.991,54.0254 L35,54.0254 L35,66.0254 L65,66.0254 Z M57.993,52.0254 L67,52.0254 L67,68.0254 L33,68.0254 L33,52.0254 L45.991,52.0254 L45.991,61.0254 L49.993,61.0254 C54.404,61.0254 57.993,57.4364 57.993,53.0254 L57.993,52.0254 Z' id='Fill-1'%3E%3C/path%3E%3Cpolygon id='Fill-3' points='50.7861 51.3115 47.7861 54.3115 49.2001 55.7255 52.2001 52.7255'%3E%3C/polygon%3E%3Cpolygon id='Fill-5' points='49.2002 59.7295 52.2002 56.7295 50.7862 55.3155 47.7862 58.3155'%3E%3C/polygon%3E%3Cpolygon id='Fill-7' points='50.7861 47.3076 47.7861 50.3076 49.2001 51.7216 52.2001 48.7216'%3E%3C/polygon%3E%3Cpath d='M41.991,39.0004 L57.996,39.0004 L57.996,33.0004 L41.991,33.0004 L41.991,39.0004 Z M46.993,42.0034 L52.993,42.0034 L52.993,41.0084 L46.993,41.0084 L46.993,42.0034 Z M44.993,44.0034 L50.087,44.0034 L47.786,46.3034 L49.2,47.7174 L52.2,44.7174 L51.485,44.0034 L54.993,44.0034 L54.993,41.0004 L59.996,41.0004 L59.996,31.0004 L39.991,31.0004 L39.991,41.0004 L44.993,41.0004 L44.993,44.0034 Z' id='Fill-9'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        position: absolute;
        top: 25px;
        left: 0;
        right: 0; }
      .modal-inner .industry-content .value-process > div span.icon-factory:before {
        content: url("data:image/svg+xml,%3Csvg width='34px' height='34px' viewBox='0 0 34 34' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdesc%3E%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Overlay-industry-food' fill='%237537C5'%3E%3Cpolygon id='Fill-1' points='24.5853 -0.0002 23.5293 17.9268 25.5263 18.0438 26.4703 1.9998 28.5873 1.9998 29.5323 18.0438 31.5283 17.9268 30.4733 -0.0002'%3E%3C/polygon%3E%3Cpath d='M14.0067,15.5707 L7.0037,8.5637 L7.0027,15.5707 L-0.0003,8.5637 L-0.0003,33.9997 L33.9997,33.9997 L33.9997,16.9857 L22.4247,16.9857 L14.0067,8.5637 L14.0067,15.5707 Z M16.0067,13.3937 L21.5957,18.9857 L32.0007,18.9857 L32.0007,32.0007 L1.9997,32.0007 L1.9997,13.3937 L9.0027,20.3997 L9.0037,13.3937 L16.0067,20.3997 L16.0067,13.3937 Z' id='Fill-2'%3E%3C/path%3E%3Cpath d='M23.998,26.99 L26.998,26.99 L26.998,23.99 L23.998,23.99 L23.998,26.99 Z M21.998,28.99 L28.998,28.99 L28.998,21.99 L21.998,21.99 L21.998,28.99 Z' id='Fill-3'%3E%3C/path%3E%3Cpath d='M14.993,26.99 L17.993,26.99 L17.993,23.99 L14.993,23.99 L14.993,26.99 Z M12.993,28.99 L19.993,28.99 L19.993,21.99 L12.993,21.99 L12.993,28.99 Z' id='Fill-4'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        position: absolute;
        top: 30px;
        left: 0;
        right: 0; }
      .modal-inner .industry-content .value-process > div span.icon-quality:before {
        content: url("data:image/svg+xml,%3Csvg width='32px' height='23px' viewBox='0 0 32 23' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdesc%3E%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='check' fill='%23793DC7'%3E%3Cpolygon id='path' points='30.5815494 0.000402442652 10.4982785 20.1547305 1.41654579 11.0424227 0 12.4650575 10.4982785 23 32.0001003 1.42303722'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        position: absolute;
        top: 35px;
        left: 0;
        right: 0; }
      .modal-inner .industry-content .value-process > div span.icon-delivery:before {
        content: url("data:image/svg+xml,%3Csvg width='36px' height='26px' viewBox='0 0 36 26' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdesc%3E%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='delivery' transform='translate(-34.000000, -37.000000)' fill='%237537C5'%3E%3Cpath d='M65.874,58.003 C65.426,56.284 63.874,55.006 62.017,55.006 C60.159,55.006 58.607,56.284 58.159,58.003 L57.022,58.003 L57.022,50.994 L67.021,50.994 L67.022,50.992 L67.022,58.003 L65.874,58.003 Z M62.017,61.006 C60.914,61.006 60.017,60.108 60.017,59.006 C60.017,57.903 60.914,57.006 62.017,57.006 C63.119,57.006 64.017,57.903 64.017,59.006 C64.017,60.108 63.119,61.006 62.017,61.006 L62.017,61.006 Z M57.022,43.004 L61.603,43.004 L67.022,48.424 L67.022,48.994 L57.022,48.994 L57.022,43.004 Z M55.022,41.004 L55.022,58.003 L47.856,58.003 C47.408,56.284 45.856,55.006 43.999,55.006 C42.142,55.006 40.59,56.284 40.142,58.003 L37.003,58.003 L37.003,39 L55.022,39 L55.022,41.004 Z M43.999,61.006 C42.896,61.006 41.999,60.108 41.999,59.006 C41.999,57.903 42.896,57.006 43.999,57.006 C45.102,57.006 45.999,57.903 45.999,59.006 C45.999,60.108 45.102,61.006 43.999,61.006 L43.999,61.006 Z M62.431,41.004 L57.022,41.004 L57.022,37 L35.003,37 L35.003,58.003 L34,58.003 L34,60.003 L35.003,60.003 L40.14,60.003 C40.586,61.725 42.14,63.006 43.999,63.006 C45.858,63.006 47.412,61.725 47.858,60.003 L55.022,60.003 L56.022,60.003 L57.022,60.003 L58.157,60.003 C58.603,61.725 60.157,63.006 62.017,63.006 C63.876,63.006 65.43,61.725 65.876,60.003 L69.022,60.003 L69.022,47.596 L62.431,41.004 Z' id='Fill-1'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        position: absolute;
        top: 32px;
        left: 0;
        right: 0; }
